<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-3 d-none d-md-flex"></div>
    <div class="col-md-6 col-xs-12 flex-column main bg-waring">
        <form>
            <div class="mb-4"><h1 class="justify-content-center">STUDENT DETAILS</h1></div>
        <div>
            <label>NAME</label><br>
            <input type="text" placeholder="Enter your first name">
            <input type="text" placeholder="Enter your second name">
        </div>
        <div>
            <label>AGE</label><br>
            <input type="number" placeholder="Enter your age">
        </div>
        <div>
            <label>Gender</label><br>
            <select name="gender" class="drop-gender">
              <option value="none">None</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
            </select>
        </div>
        <div>
            <label>contact NUMBER</label><br>
            <input type="number" id="number" name="number" placeholder="Enter contact number" >
            </div>
        <div>
            <label>Email Address</label><br>
            <input type="text" placeholder="Enter your Email address">
            </div>
        <div>
            <label>ADDRESS</label><br>
            <textarea class="text-address" rows="4" cols="30" placeholder="Enter your address"></textarea>
        </div>
        <button>Submit</button>
        </form>
        
    </div>
    <div class="col-md-3 d-none d-md-flex"></div>
  </div>
</div>